/* General
***********************/
.slider {
	margin: 15px 0 10px !important;
}

#carousel li {
	margin-right: 5px;
}

#carousel img {
	display: block;
	opacity: .5;
	cursor: pointer;
}

#carousel img:hover {
	opacity: 1;
}

#carousel .flex-active-slide img {
	opacity: 1;
	cursor: default;
}

/* Layout
***********************/
#container {
	padding: 60px 40px 100px;
}

header {
	width: 420px;
	float: left;
}
/* #main {margin-left: 420px; margin-top: -25px;overflow: hidden;} */
#main {
	overflow: hidden;
	text-align: center;
	width: 500px;
	height: 400px;
	margin: auto;
}

aside h3 {
	float: left;
}

/* Header
***********************/
header .logo {
	display: block;
	margin: 10px 0 30px;
}

header h1 {
	font-family: Geogrotesque-Semibold, Helvetica, Arial, sans-serif;
	margin: 0 0 10px;
	text-shadow: 0 1px 0 #2F4C63;
	color: #fff;
	font-size: 42px;
}

header h2 {
	margin: 0 0 30px;
	font: normal 20px Geogrotesque-regular, Helvetica, Arial, sans-serif;
	text-shadow: 0 1px 1px #555;
	color: #fff;
}

header .button {
	margin: 0 0 50px;
	padding: 10px 15px 10px 15px;
	position: relative;
}

h3.nav-header {
	width: 200px;
	margin: 0 0 10px;
	padding: 0 0 3px;
	font-size: 18px;
	text-shadow: 0 1px 1px #555;
	color: #fff;
	font-family: Geogrotesque-Regular, Helvetica, Arial, sans-serif;
	border-bottom: 1px solid #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

nav li {
	margin: 0 0 7px;
	font-size: 15px;
}

nav li a:hover, nav li.active a {
	border-bottom: 1px dotted #fff;
	border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
	background: none;
}

nav li.active a {
	cursor: default;
}

/* Media Queries
***********************/
@media screen and (max-width: 960px) {
	#container {
		padding: 35px;
	}
	header {
		width: 380px;
	}
	#main {
		margin-left: 380px;
	}
	aside h3 {
		float: none;
		font-size: 20px;
	}
	.toggle {
		margin-left: 0;
		float: none;
	}
}

@media screen and (max-width: 768px) {
	#container {
		padding: 20px 30px;
	}
	header {
		width: 100%;
		float: none;
		text-align: center;
	}
	header img {
		width: 120px;
	}
	header h1 {
		margin: 0 auto 10px;
		font-size: 32px;
	}
	header h2 {
		font-size: 16px;
	}
	header .button {
		margin-bottom: 28px;
	}
	#main {
		margin-left: 0;
	}
	h3.nav-header {
		margin: 0 auto 10px;
		font-size: 16px;
	}
	nav {
		position: relative;
		min-height: 46px;
		margin-bottom: 20px;
		width: 100%;
	}
	nav ul {
		width: 260px;
		padding: 0;
		position: absolute;
		left: 50%;
		margin-left: -130px;
		top: 0;
		z-index: 9999;
		border: 1px solid #1e5486;
		background: #255a8c;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2), inset 0 0 2px 0
			rgba(255, 255, 255, 0.2);
		-moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2), inset 0 0 2px 0
			rgba(255, 255, 255, 0.2);
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2), inset 0 0 2px 0
			rgba(255, 255, 255, 0.2);
	}
	nav li {
		display: none; /* hide all <li> items */
		margin: 0;
	}
	nav li a {
		border: none !important;
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
	}
	nav li a:hover {
		text-decoration: underline;
	}
	nav .active {
		display: block; /* show only current <li> item */
	}
	nav a {
		display: block;
		padding: 10px 20px;
		text-align: center;
		font-size: 12px;
	}
	nav .active a {
		background: none;
		color: #fff;
		position: relative;
	}
	nav .active a:after {
		font-family: flexslider-icon;
		content: '\f005';
		font-size: 13px;
		position: absolute;
		right: 10px;
		top: 10px;
	}

	/* on nav hover */
	nav ul:hover {
		background: #32679a;
	}
	nav ul:hover li {
		display: block;
		margin: 0 0 5px;
	}
	nav ul:hover .active {
		border: 1px solid #1e5486 !important;
		background: #255a8c;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		border-radius: 1px;
	}
	nav ul:hover .active a:after {
		display: none;
	}
}