@CHARSET "ISO-8859-1";

/*common styles*/
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: gray;
	background:url('images/green-grass-back.jpg');
	width: 100%;
	font-family: cambria;
	text-align: center;
}

#content {
	width: 1000px;
	/* 	margin-left: 15%; */
	/* 	margin-right: 15%; */
	border: 1px solid #b2b2b2;
	/* 	height: 100%; */
	background-color: #f8f8f8;
	padding-left: 12px;
	padding-right: 12px;
	display: inline-block;
	text-align: left;
	/* 	margin-bottom: 12px; */
}

/* gradient background */
#body-content {
	/* 	background-color:#ECFFFD; */
	background: -webkit-linear-gradient(#ECFFFD, #A9FFDD);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#ECFFFD, #A9FFDD);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#ECFFFD, #A9FFDD);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#ECFFFD, #A9FFDD);
	/* For Internet Explorer 8 */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ECFFFD, endColorstr=#A9FFDD)";
}

/*header styles*/
#header {
	padding-left: 10px;
	padding-top: 10px;
	/* 	background-color: #FFF3EC; */
	background-color: #ECFFFD;
	height: 75px;
	border-left: 1px solid #b2b2b2;
	border-right: 1px solid #b2b2b2;
}

#logo {
	background: url(images/logo3.png);
	width: 82px;
	height: 64px;
	display: inline-block;
	float: left;
	margin-left: 20px;
}

#title {
	display: inline-block;
	color: green;
	text-align: center;
	margin-left: 30px;
	margin-top: 10px;
}

#big-title-text {
	font-size: 24px;
	font-weight: 600;
	display: block;
	font-family: cambria;
}

#small-title-text {
	font-size: 16px;
	display: block;
	font-family: cambria;
}

#school-slogan {
	margin-left: 210px;
	font-size: 20px;
	color: rgb(192, 185, 185);
}

#nav-bar {
	height: 25px;
	background-color: #0F7C32;
	color: white;
	font-size: 12px;
	font-family: calibri;
	font-weight: 600;
	padding-top: 10px;
}

#nav-bar a {
	color: white;
	text-decoration: none;
	margin-right: 5px;
	margin-left: 5px;
}

#nav-bar a:hover {
	color: gray;
}

#body-content {
	height: 900px;
	border-left: 1px solid #b2b2b2;
	border-right: 1px solid #b2b2b2;
}

#body-content-top-part {
	height: 15px;
	background-color: #E4E4E4;
	border-left: 1px solid #b2b2b2;
	border-right: 1px solid #b2b2b2;
}

#body-content-left-part {
	width: 23%;
	height: 100%;
	float: left;
}

#upcoming-events {
	padding-left: 15px;
}

#admission-open-image {
	height: 270px;
	text-align: center;
	display: inherit;
}

#admission-open-image img {
	width: 200px;
}

#body-content-middle-part {
	width: 50%;
	border: 1px gray;
	border-style: none dotted;
	height: 100%;
	float: left;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 5px;
}

#googleMap {
	width: 495px;
	height: 380px;
	border: 1px solid gray;
}

#inner-page-heading-text {
	text-align: left;
	font-size: 18px;
	color: #0F7C32;
	font-weight: 600;
	font-family: cambria;
	margin: 0px auto;
}

#address {
	text-align: center;
	font-size: 16px;
	margin-bottom: 20px;
}

#address h3, h5 {
	margin: 0px;
}

#body-content-right-part {
	width: 23%;
	height: 100%;
	float: left;
	padding-left: 10px;
	padding-top: 5px;
}

#footer-top {
	height: 5px;
	background-color: #0F7C32;
}

#footer {
	height: 30px;
	background-color: #E4E4E4;
	padding-top: 5px;
	border-left: 1px solid #b2b2b2;
	border-right: 1px solid #b2b2b2;
}

.copyrights {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding-left: 10px;
	color: #333333;
	align: left;
	valign: middle;
}

/* gallery page */
.main_more-link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	padding: 5px;
}

.main_more-link:hover {
	color: #800000;
}

/*principals-message */
#principals-image img {
	height: 220px;
	width: 160px;
	float: right;
	margin-right: 10px;
	border-radius: 30px;
}

#school-pic {
	width: 100%;
}

#school-pic img {
	width: 500px;
	height: 340px;
	border-radius: 5px;
}

#principals-message {
	width: 100%;
}

#principals-name-image {
	width: 100%;
	height: 250px;
}

#principals-name {
	width: 295px;
	float: left;
	height: 100%;
}

#principals-image {
	width: 200px;
	float: left;
	height: 100%;
}