@CHARSET "ISO-8859-1";

/*common styles*/
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: gray;
	width: 100%;
	font-family: cambria;
	text-align:center;

/* background: rgb(149,149,149);  */
/* background: -moz-linear-gradient(left,  rgba(149,149,149,1) 0%, rgba(122,122,122,1) 4%, rgba(1,1,1,1) 12%, rgba(1,1,1,1) 12%, rgba(1,1,1,1) 12%, rgba(1,1,1,1) 13%, rgba(1,1,1,1) 15%, rgba(1,1,1,1) 15%, rgba(1,1,1,1) 15%, rgba(1,1,1,1) 15%, rgba(1,1,1,1) 15%, rgba(1,1,1,1) 15%, rgba(1,1,1,1) 15%, rgba(1,1,1,1) 16%, rgba(1,1,1,1) 16%, rgba(1,1,1,1) 17%, rgba(1,1,1,1) 19%, rgba(1,1,1,1) 19%, rgba(1,1,1,1) 20%, rgba(1,1,1,1) 21%, rgba(1,1,1,1) 21%, rgba(1,1,1,1) 26%, rgba(1,1,1,1) 26%, rgba(1,1,1,1) 29%, rgba(13,13,13,1) 33%, rgba(1,1,1,1) 51%, rgba(1,1,1,1) 51%, rgba(10,10,10,1) 83%, rgba(78,78,78,1) 92%, rgba(204,204,204,1) 100%, rgba(216,216,216,1) 100%, rgba(27,27,27,1) 100%, rgba(122,122,122,1) 100%);  */
/* background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(149,149,149,1)), color-stop(4%,rgba(122,122,122,1)), color-stop(12%,rgba(1,1,1,1)), color-stop(12%,rgba(1,1,1,1)), color-stop(12%,rgba(1,1,1,1)), color-stop(13%,rgba(1,1,1,1)), color-stop(15%,rgba(1,1,1,1)), color-stop(15%,rgba(1,1,1,1)), color-stop(15%,rgba(1,1,1,1)), color-stop(15%,rgba(1,1,1,1)), color-stop(15%,rgba(1,1,1,1)), color-stop(15%,rgba(1,1,1,1)), color-stop(15%,rgba(1,1,1,1)), color-stop(16%,rgba(1,1,1,1)), color-stop(16%,rgba(1,1,1,1)), color-stop(17%,rgba(1,1,1,1)), color-stop(19%,rgba(1,1,1,1)), color-stop(19%,rgba(1,1,1,1)), color-stop(20%,rgba(1,1,1,1)), color-stop(21%,rgba(1,1,1,1)), color-stop(21%,rgba(1,1,1,1)), color-stop(26%,rgba(1,1,1,1)), color-stop(26%,rgba(1,1,1,1)), color-stop(29%,rgba(1,1,1,1)), color-stop(33%,rgba(13,13,13,1)), color-stop(51%,rgba(1,1,1,1)), color-stop(51%,rgba(1,1,1,1)), color-stop(83%,rgba(10,10,10,1)), color-stop(92%,rgba(78,78,78,1)), color-stop(100%,rgba(204,204,204,1)), color-stop(100%,rgba(216,216,216,1)), color-stop(100%,rgba(27,27,27,1)), color-stop(100%,rgba(122,122,122,1)));  */
/* background: -webkit-linear-gradient(left,  rgba(149,149,149,1) 0%,rgba(122,122,122,1) 4%,rgba(1,1,1,1) 12%,rgba(1,1,1,1) 12%,rgba(1,1,1,1) 12%,rgba(1,1,1,1) 13%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 16%,rgba(1,1,1,1) 16%,rgba(1,1,1,1) 17%,rgba(1,1,1,1) 19%,rgba(1,1,1,1) 19%,rgba(1,1,1,1) 20%,rgba(1,1,1,1) 21%,rgba(1,1,1,1) 21%,rgba(1,1,1,1) 26%,rgba(1,1,1,1) 26%,rgba(1,1,1,1) 29%,rgba(13,13,13,1) 33%,rgba(1,1,1,1) 51%,rgba(1,1,1,1) 51%,rgba(10,10,10,1) 83%,rgba(78,78,78,1) 92%,rgba(204,204,204,1) 100%,rgba(216,216,216,1) 100%,rgba(27,27,27,1) 100%,rgba(122,122,122,1) 100%); */
/* background: -o-linear-gradient(left,  rgba(149,149,149,1) 0%,rgba(122,122,122,1) 4%,rgba(1,1,1,1) 12%,rgba(1,1,1,1) 12%,rgba(1,1,1,1) 12%,rgba(1,1,1,1) 13%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 16%,rgba(1,1,1,1) 16%,rgba(1,1,1,1) 17%,rgba(1,1,1,1) 19%,rgba(1,1,1,1) 19%,rgba(1,1,1,1) 20%,rgba(1,1,1,1) 21%,rgba(1,1,1,1) 21%,rgba(1,1,1,1) 26%,rgba(1,1,1,1) 26%,rgba(1,1,1,1) 29%,rgba(13,13,13,1) 33%,rgba(1,1,1,1) 51%,rgba(1,1,1,1) 51%,rgba(10,10,10,1) 83%,rgba(78,78,78,1) 92%,rgba(204,204,204,1) 100%,rgba(216,216,216,1) 100%,rgba(27,27,27,1) 100%,rgba(122,122,122,1) 100%);  */
/* background: -ms-linear-gradient(left,  rgba(149,149,149,1) 0%,rgba(122,122,122,1) 4%,rgba(1,1,1,1) 12%,rgba(1,1,1,1) 12%,rgba(1,1,1,1) 12%,rgba(1,1,1,1) 13%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 16%,rgba(1,1,1,1) 16%,rgba(1,1,1,1) 17%,rgba(1,1,1,1) 19%,rgba(1,1,1,1) 19%,rgba(1,1,1,1) 20%,rgba(1,1,1,1) 21%,rgba(1,1,1,1) 21%,rgba(1,1,1,1) 26%,rgba(1,1,1,1) 26%,rgba(1,1,1,1) 29%,rgba(13,13,13,1) 33%,rgba(1,1,1,1) 51%,rgba(1,1,1,1) 51%,rgba(10,10,10,1) 83%,rgba(78,78,78,1) 92%,rgba(204,204,204,1) 100%,rgba(216,216,216,1) 100%,rgba(27,27,27,1) 100%,rgba(122,122,122,1) 100%);  */
/* background: linear-gradient(to right,  rgba(149,149,149,1) 0%,rgba(122,122,122,1) 4%,rgba(1,1,1,1) 12%,rgba(1,1,1,1) 12%,rgba(1,1,1,1) 12%,rgba(1,1,1,1) 13%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 15%,rgba(1,1,1,1) 16%,rgba(1,1,1,1) 16%,rgba(1,1,1,1) 17%,rgba(1,1,1,1) 19%,rgba(1,1,1,1) 19%,rgba(1,1,1,1) 20%,rgba(1,1,1,1) 21%,rgba(1,1,1,1) 21%,rgba(1,1,1,1) 26%,rgba(1,1,1,1) 26%,rgba(1,1,1,1) 29%,rgba(13,13,13,1) 33%,rgba(1,1,1,1) 51%,rgba(1,1,1,1) 51%,rgba(10,10,10,1) 83%,rgba(78,78,78,1) 92%,rgba(204,204,204,1) 100%,rgba(216,216,216,1) 100%,rgba(27,27,27,1) 100%,rgba(122,122,122,1) 100%); */
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#7a7a7a',GradientType=1 );  */


/* background: rgb(242,242,242); Old browsers */
/* background: -moz-linear-gradient(left,  rgba(242,242,242,1) 0%, rgba(211,211,211,1) 10%, rgba(150,150,150,1) 12%, rgba(150,150,150,1) 15%, rgba(150,150,150,1) 15%, rgba(150,150,150,1) 15%, rgba(155,155,155,1) 15%, rgba(147,147,147,1) 15%, rgba(145,145,145,1) 15%, rgba(1,1,1,1) 15%, rgba(124,124,124,1) 15%, rgba(147,147,147,1) 15%, rgba(145,145,145,1) 15%, rgba(150,150,150,1) 15%, rgba(145,145,145,1) 16%, rgba(150,150,150,1) 16%, rgba(150,150,150,1) 16%, rgba(150,150,150,1) 17%, rgba(147,147,147,1) 19%, rgba(147,147,147,1) 19%, rgba(158,158,158,1) 19%, rgba(145,145,145,1) 19%, rgba(153,153,153,1) 19%, rgba(145,145,145,1) 20%, rgba(145,145,145,1) 20%, rgba(145,145,145,1) 20%, rgba(145,145,145,1) 20%, rgba(153,153,153,1) 21%, rgba(158,158,158,1) 22%, rgba(153,153,153,1) 26%, rgba(155,155,155,1) 26%, rgba(145,145,145,1) 29%, rgba(145,145,145,1) 29%, rgba(145,145,145,1) 29%, rgba(155,155,155,1) 33%, rgba(155,155,155,1) 51%, rgba(209,209,209,1) 51%, rgba(211,211,211,1) 79%, rgba(221,221,221,1) 85%, rgba(242,242,242,1) 98%, rgba(242,242,242,1) 99%, rgba(214,214,214,1) 100%, rgba(204,204,204,1) 100%, rgba(216,216,216,1) 100%, rgba(27,27,27,1) 100%, rgba(214,214,214,1) 101%, rgba(27,27,27,1) 102%, rgba(242,242,242,1) 102%); FF3.6+ */
/* background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(242,242,242,1)), color-stop(10%,rgba(211,211,211,1)), color-stop(12%,rgba(150,150,150,1)), color-stop(15%,rgba(150,150,150,1)), color-stop(15%,rgba(150,150,150,1)), color-stop(15%,rgba(150,150,150,1)), color-stop(15%,rgba(155,155,155,1)), color-stop(15%,rgba(147,147,147,1)), color-stop(15%,rgba(145,145,145,1)), color-stop(15%,rgba(1,1,1,1)), color-stop(15%,rgba(124,124,124,1)), color-stop(15%,rgba(147,147,147,1)), color-stop(15%,rgba(145,145,145,1)), color-stop(15%,rgba(150,150,150,1)), color-stop(16%,rgba(145,145,145,1)), color-stop(16%,rgba(150,150,150,1)), color-stop(16%,rgba(150,150,150,1)), color-stop(17%,rgba(150,150,150,1)), color-stop(19%,rgba(147,147,147,1)), color-stop(19%,rgba(147,147,147,1)), color-stop(19%,rgba(158,158,158,1)), color-stop(19%,rgba(145,145,145,1)), color-stop(19%,rgba(153,153,153,1)), color-stop(20%,rgba(145,145,145,1)), color-stop(20%,rgba(145,145,145,1)), color-stop(20%,rgba(145,145,145,1)), color-stop(20%,rgba(145,145,145,1)), color-stop(21%,rgba(153,153,153,1)), color-stop(22%,rgba(158,158,158,1)), color-stop(26%,rgba(153,153,153,1)), color-stop(26%,rgba(155,155,155,1)), color-stop(29%,rgba(145,145,145,1)), color-stop(29%,rgba(145,145,145,1)), color-stop(29%,rgba(145,145,145,1)), color-stop(33%,rgba(155,155,155,1)), color-stop(51%,rgba(155,155,155,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(79%,rgba(211,211,211,1)), color-stop(85%,rgba(221,221,221,1)), color-stop(98%,rgba(242,242,242,1)), color-stop(99%,rgba(242,242,242,1)), color-stop(100%,rgba(214,214,214,1)), color-stop(100%,rgba(204,204,204,1)), color-stop(100%,rgba(216,216,216,1)), color-stop(100%,rgba(27,27,27,1)), color-stop(101%,rgba(214,214,214,1)), color-stop(102%,rgba(27,27,27,1)), color-stop(102%,rgba(242,242,242,1))); Chrome,Safari4+ */
/* background: -webkit-linear-gradient(left,  rgba(242,242,242,1) 0%,rgba(211,211,211,1) 10%,rgba(150,150,150,1) 12%,rgba(150,150,150,1) 15%,rgba(150,150,150,1) 15%,rgba(150,150,150,1) 15%,rgba(155,155,155,1) 15%,rgba(147,147,147,1) 15%,rgba(145,145,145,1) 15%,rgba(1,1,1,1) 15%,rgba(124,124,124,1) 15%,rgba(147,147,147,1) 15%,rgba(145,145,145,1) 15%,rgba(150,150,150,1) 15%,rgba(145,145,145,1) 16%,rgba(150,150,150,1) 16%,rgba(150,150,150,1) 16%,rgba(150,150,150,1) 17%,rgba(147,147,147,1) 19%,rgba(147,147,147,1) 19%,rgba(158,158,158,1) 19%,rgba(145,145,145,1) 19%,rgba(153,153,153,1) 19%,rgba(145,145,145,1) 20%,rgba(145,145,145,1) 20%,rgba(145,145,145,1) 20%,rgba(145,145,145,1) 20%,rgba(153,153,153,1) 21%,rgba(158,158,158,1) 22%,rgba(153,153,153,1) 26%,rgba(155,155,155,1) 26%,rgba(145,145,145,1) 29%,rgba(145,145,145,1) 29%,rgba(145,145,145,1) 29%,rgba(155,155,155,1) 33%,rgba(155,155,155,1) 51%,rgba(209,209,209,1) 51%,rgba(211,211,211,1) 79%,rgba(221,221,221,1) 85%,rgba(242,242,242,1) 98%,rgba(242,242,242,1) 99%,rgba(214,214,214,1) 100%,rgba(204,204,204,1) 100%,rgba(216,216,216,1) 100%,rgba(27,27,27,1) 100%,rgba(214,214,214,1) 101%,rgba(27,27,27,1) 102%,rgba(242,242,242,1) 102%); Chrome10+,Safari5.1+ */
/* background: -o-linear-gradient(left,  rgba(242,242,242,1) 0%,rgba(211,211,211,1) 10%,rgba(150,150,150,1) 12%,rgba(150,150,150,1) 15%,rgba(150,150,150,1) 15%,rgba(150,150,150,1) 15%,rgba(155,155,155,1) 15%,rgba(147,147,147,1) 15%,rgba(145,145,145,1) 15%,rgba(1,1,1,1) 15%,rgba(124,124,124,1) 15%,rgba(147,147,147,1) 15%,rgba(145,145,145,1) 15%,rgba(150,150,150,1) 15%,rgba(145,145,145,1) 16%,rgba(150,150,150,1) 16%,rgba(150,150,150,1) 16%,rgba(150,150,150,1) 17%,rgba(147,147,147,1) 19%,rgba(147,147,147,1) 19%,rgba(158,158,158,1) 19%,rgba(145,145,145,1) 19%,rgba(153,153,153,1) 19%,rgba(145,145,145,1) 20%,rgba(145,145,145,1) 20%,rgba(145,145,145,1) 20%,rgba(145,145,145,1) 20%,rgba(153,153,153,1) 21%,rgba(158,158,158,1) 22%,rgba(153,153,153,1) 26%,rgba(155,155,155,1) 26%,rgba(145,145,145,1) 29%,rgba(145,145,145,1) 29%,rgba(145,145,145,1) 29%,rgba(155,155,155,1) 33%,rgba(155,155,155,1) 51%,rgba(209,209,209,1) 51%,rgba(211,211,211,1) 79%,rgba(221,221,221,1) 85%,rgba(242,242,242,1) 98%,rgba(242,242,242,1) 99%,rgba(214,214,214,1) 100%,rgba(204,204,204,1) 100%,rgba(216,216,216,1) 100%,rgba(27,27,27,1) 100%,rgba(214,214,214,1) 101%,rgba(27,27,27,1) 102%,rgba(242,242,242,1) 102%); Opera 11.10+ */
/* background: -ms-linear-gradient(left,  rgba(242,242,242,1) 0%,rgba(211,211,211,1) 10%,rgba(150,150,150,1) 12%,rgba(150,150,150,1) 15%,rgba(150,150,150,1) 15%,rgba(150,150,150,1) 15%,rgba(155,155,155,1) 15%,rgba(147,147,147,1) 15%,rgba(145,145,145,1) 15%,rgba(1,1,1,1) 15%,rgba(124,124,124,1) 15%,rgba(147,147,147,1) 15%,rgba(145,145,145,1) 15%,rgba(150,150,150,1) 15%,rgba(145,145,145,1) 16%,rgba(150,150,150,1) 16%,rgba(150,150,150,1) 16%,rgba(150,150,150,1) 17%,rgba(147,147,147,1) 19%,rgba(147,147,147,1) 19%,rgba(158,158,158,1) 19%,rgba(145,145,145,1) 19%,rgba(153,153,153,1) 19%,rgba(145,145,145,1) 20%,rgba(145,145,145,1) 20%,rgba(145,145,145,1) 20%,rgba(145,145,145,1) 20%,rgba(153,153,153,1) 21%,rgba(158,158,158,1) 22%,rgba(153,153,153,1) 26%,rgba(155,155,155,1) 26%,rgba(145,145,145,1) 29%,rgba(145,145,145,1) 29%,rgba(145,145,145,1) 29%,rgba(155,155,155,1) 33%,rgba(155,155,155,1) 51%,rgba(209,209,209,1) 51%,rgba(211,211,211,1) 79%,rgba(221,221,221,1) 85%,rgba(242,242,242,1) 98%,rgba(242,242,242,1) 99%,rgba(214,214,214,1) 100%,rgba(204,204,204,1) 100%,rgba(216,216,216,1) 100%,rgba(27,27,27,1) 100%,rgba(214,214,214,1) 101%,rgba(27,27,27,1) 102%,rgba(242,242,242,1) 102%); IE10+ */
/* background: linear-gradient(to right,  rgba(242,242,242,1) 0%,rgba(211,211,211,1) 10%,rgba(150,150,150,1) 12%,rgba(150,150,150,1) 15%,rgba(150,150,150,1) 15%,rgba(150,150,150,1) 15%,rgba(155,155,155,1) 15%,rgba(147,147,147,1) 15%,rgba(145,145,145,1) 15%,rgba(1,1,1,1) 15%,rgba(124,124,124,1) 15%,rgba(147,147,147,1) 15%,rgba(145,145,145,1) 15%,rgba(150,150,150,1) 15%,rgba(145,145,145,1) 16%,rgba(150,150,150,1) 16%,rgba(150,150,150,1) 16%,rgba(150,150,150,1) 17%,rgba(147,147,147,1) 19%,rgba(147,147,147,1) 19%,rgba(158,158,158,1) 19%,rgba(145,145,145,1) 19%,rgba(153,153,153,1) 19%,rgba(145,145,145,1) 20%,rgba(145,145,145,1) 20%,rgba(145,145,145,1) 20%,rgba(145,145,145,1) 20%,rgba(153,153,153,1) 21%,rgba(158,158,158,1) 22%,rgba(153,153,153,1) 26%,rgba(155,155,155,1) 26%,rgba(145,145,145,1) 29%,rgba(145,145,145,1) 29%,rgba(145,145,145,1) 29%,rgba(155,155,155,1) 33%,rgba(155,155,155,1) 51%,rgba(209,209,209,1) 51%,rgba(211,211,211,1) 79%,rgba(221,221,221,1) 85%,rgba(242,242,242,1) 98%,rgba(242,242,242,1) 99%,rgba(214,214,214,1) 100%,rgba(204,204,204,1) 100%,rgba(216,216,216,1) 100%,rgba(27,27,27,1) 100%,rgba(214,214,214,1) 101%,rgba(27,27,27,1) 102%,rgba(242,242,242,1) 102%); W3C */
/* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#f2f2f2',GradientType=1 ); IE6-9 */

}

#content {
	width: 1000px;
/* 	margin-left: 15%; */
/* 	margin-right: 15%; */
	border: 1px solid #b2b2b2;
	/* 	height: 100%; */
	background-color: #f8f8f8;
	padding-left: 12px;
	padding-right: 12px;
	display: inline-block;
	text-align:left;
	/* 	margin-bottom: 12px; */
}

/* gradient background */
#body-content {
	
/* 	background-color:#ECFFFD; */
	background: -webkit-linear-gradient(#ECFFFD, #A9FFDD);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#ECFFFD, #A9FFDD);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#ECFFFD, #A9FFDD);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#ECFFFD, #A9FFDD); 
	/* For Internet Explorer 8 */
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ECFFFD, endColorstr=#A9FFDD)";
}

/*header styles*/
#header {
	padding-left: 10px;
	padding-top: 10px;
/* 	background-color: #FFF3EC; */
background-color:#ECFFFD;
	height: 75px;
	border-left: 1px solid #b2b2b2;
	border-right: 1px solid #b2b2b2;
}

#logo {
	background: url(images/logo3.png);
	width: 82px;
	height: 64px;
	display: inline-block;
	float: left;
	margin-left:20px;
}

#title {
	display: inline-block;
	color: green;
	text-align: center;
	margin-left: 30px;
	margin-top: 10px;
}

#big-title-text {
	font-size: 24px;
	font-weight: 600;
	display: block;
	font-family: cambria;
}

#small-title-text {
	font-size: 16px;
	display: block;
	font-family: cambria;
}

#school-slogan {
	margin-left: 210px;
	font-size: 20px;
	color: rgb(192, 185, 185);
}

#nav-bar {
	height: 25px;
	background-color: #0F7C32;
	color: white;
	font-size: 12px;
	font-family: calibri;
	font-weight: 600;
	padding-top: 10px;
}

#nav-bar a {
	color: white;
	text-decoration: none;
	margin-right: 5px;
	margin-left: 5px;
}

#nav-bar a:hover {
	color: gray;
}

#body-content {
	height: 900px;
	border-left: 1px solid #b2b2b2;
	border-right: 1px solid #b2b2b2;
}

#body-content-top-part {
	height: 15px;
	background-color: #E4E4E4;
	border-left: 1px solid #b2b2b2;
	border-right: 1px solid #b2b2b2;
}

#body-content-left-part {
	width: 23%;
	height: 100%;
	float: left;
}

#admission-open-image {
	height: 300px;
	text-align: center;
	display: inherit;
}

#admission-open-image img {
	width: 200px;
}

#body-content-middle-part {
	width: 50%;
	border: 1px gray;
	border-style: none dotted;
	height: 100%;
	float: left;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 5px;
}

#googleMap {
	width: 495px;
	height: 380px;
	border: 1px solid gray;
}

#inner-page-heading-text {
	text-align: left;
	font-size: 18px;
	color: #0F7C32;
	font-weight: 600;
	font-family: cambria;
	margin: 0px auto;
}

#address {
	text-align: center;
	font-size: 16px;
	margin-bottom: 20px;
}

#address h3, h5 {
	margin: 0px;
}

#body-content-right-part {
	width: 23%;
	height: 100%;
	float: left;
}

#footer-top {
	height: 5px;
	background-color: #0F7C32;
}

#footer {
	height: 30px;
	background-color: #E4E4E4;
	padding-top: 5px;
	border-left: 1px solid #b2b2b2;
	border-right: 1px solid #b2b2b2;
}

.copyrights {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding-left: 10px;
	color: #333333;
	align: left;
	valign: middle;
}

/* gallery page */
.main_more-link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	padding: 5px;
}

.main_more-link:hover {
	color: #800000;
}

/*principals-message */
#principals-image img {
	height: 220px;
	width: 160px;
	float: right;
	margin-right: 10px;
	border-radius: 30px;
}

#principals-message {
	width: 100%;
}

#principals-name {
	width: 50%;
	float: left;
}